Fundamentos/bloco3/dia1/** linguist-vendored
Fundamentos/bloco3/dia3/estudo/** linguist-vendored
Fundamentos/bloco6/dia3/** linguist-vendored
Fundamentos/bloco6/exercicios/dia-5-css-responsivo-mobile-first/** linguist-vendored