* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  color: #303030;
}

.dark-mode {
  background-color: #353535;
  color: #bebebe;
}

.header {
  position: fixed;
  width: 80%;
  padding: 0px 10%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  overflow: hidden;
  border-bottom: 1px solid #a1a1a1;
  z-index: 1000;
}

.body {
  top: 61px;
  position: relative;
  display: inline-block;
  left: 10%;
  width: 80%;
}

.footer {
  margin-top: 30px;
}
.hamburguer-button {
  width: 35px;
  height: 24px;
}
.hamburguer-button span {
  display: block;
  margin: 2px 0;
  background-color: black;
  width: 35px;
  height: 6px;
  border-radius: 5px;
}

.hamburguer-button-checkbox {
  position: absolute;
  z-index: 1001;
  width: 35px;
  height: 24px;
  opacity: 0;
}

.hamburguer-menu {
  position: fixed;
  background-color: #f3f3f3;
  width: 200px;
  height: 600px;
  top: 60px;
  right: -201px;
  transition: right 0.5s;
  border: 1px solid #a1a1a1;
}

.hamburguer-button-checkbox:checked ~ .hamburguer-menu {
  right: 0;
}
.hamburguer-menu-content {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburguer-menu-content input {
  width: 100px;
}
.main-content {
}
