.radio-block {
  position: relative !important;
  margin-bottom: .2rem;
  height: 3rem;
}

.radio-block span {
  margin-bottom: 8px;
}

.flex-center {
  margin: 0;
  display: flex;
  align-items: center;
}

.no-top {
  top: .7rem !important;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.no-margin-left {
  margin-left: 0 !important;
}