.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 371px;
    left: 55px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    left: 190px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    left: 209px;
    top: 120px
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 460px;
    top: 275px
  }